.dashboard{
    background-color: var(--primary-pages);
    height:100vh !important;
    width:100vw !important;
    padding:1rem 0.4rem;
    padding-top: 5rem;
    margin:0;
    overflow: hidden;
    overflow-y: scroll;
}
.graph{
    height:13rem !important;
}
.quiz-questions .get-started:hover{
    background-color: transparent;
    color:var(--primary-color)
}
.quiz-questions .get-started:focus{
    border-color: #3B82F6;
    color:#3B82F6;
}
.next{
    background-color:#2563EB;
    border: 1px solid #2563EB;
    color:white;
}
.next:hover{
    background-color:#2563EB !important;
    color:#fff !important;
}
.next:focus{
    color:#fff !important;
}
.exit{
    background-color: transparent;
}
.timer{
    color:var(--primary-color)
}