.login{
    background-color: var(--primary-pages);
    width:100%;
    height:100%;
    font-family: 'Saira Condensed', sans-serif;
}
.login-input{
    color:white;
    background-color: var(--text-background);
}
.login-input:focus{
    outline: transparent;
}